@font-face {
    font-family: 'Mavericks';
    src: url('./mavericks-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Mavericks', sans-serif;
}
